# core dependencies
autobahn[serialization]
ocs
sqlalchemy>=1.4
twisted

# hardware communication
pyserial
requests
# Versions pinned to match socs - do we need to keep these? They are quite outdated.
pysnmp==4.4.12
pysmi
pyasn1==0.4.8

# common dependencies
numpy

# Docs
# see docs/requirements.txt

# testing + development
setuptools-scm
# -r requirements/testing.txt - once testing is up!

# Contributing
pre-commit
